:root {

    font-size: 16px;
}

body {

    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
}

#header {

    background-color: #575A4B;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: white;
    display: grid;
    grid-template-columns:8rem 1fr 8rem;
}

#bookCards {

    background-color: white;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 24px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 275px);
    overflow: auto;
}

#sidebar {

    background-color: #816C61;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    padding: 12px;
}

#title {

    font-size: 2.5rem;
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
}

#links {

    font-size: 1rem;
    grid-column: 3 / 4;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

a {

    text-decoration: none;
}

a:visited {

    color: white;
}

#sidebar button {

   height: 1.5rem;
   background-color: #e9e7e7;
   font-size: 1.25rem;
   border: 0;
   border-radius: 2px;
   width: 200px;
   color: rgb(52, 52, 69);
}

#sidebar button:hover {

    background-color: #bdbaba;
}

#sidebar button:active {

    outline: 2px solid rgb(52, 52, 69);
}

.readBook {

    height: 300px;
    background-color: #edebeb;
    display: grid;
    border-radius: 8px;
    grid-template-rows: 4rem 2rem 1fr 2rem;
    gap: 4px;
    padding: 0 8px;
    background: linear-gradient( 
        to right,
        rgb(213, 240, 213) 10px,
        #edebeb 10px
    );
}

.notReadBook {

    height: 300px;
    background-color: #edebeb;
    display: grid;
    border-radius: 8px;
    grid-template-rows: 4rem 2rem 1fr 2rem;
    gap: 4px;
    padding: 0 8px;
}

#bookForm {

    height: 300px;
    background-color: #edebeb;
    display: grid;
    border-radius: 8px;
    grid-template-rows: 4rem 2rem 1fr 2rem;
    gap: 4px;
    padding: 0 8px;
}

.nameRow {

    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-row: 1 / 2;
    border-bottom: 2px solid grey;
    border-radius: 2px;
}

.authorRow {

    font-size: 1.1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-row: 2 / 3;
}

.review {

    grid-row: 3 / 4;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 2px;
}

.actions {

    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.actions button {

    height: 1.25rem;
    width: 75px;
}

textarea {

    resize: none;
    width: 250px;
    height: 150px;
}

#nameText, #authorText {

    width: 248px;
}

fieldset {

    width: 220px;
}

form {

    display: flex;
    flex-direction: column;
    padding: 10px 6px 10px 2px;
    align-items: center;
}

button[type="submit"] {
    width: 100px;
}